# ElevenLabs Text-to-Speech (Clave requerida para usar la voz de IA)
ELEVENLABS_API_KEY=
ELEVENLABS_VALENTINA_VOICE_ID=
ELEVENLABS_MATEO_VOICE_ID=

MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_CLIENT_ID=
MERCADOPAGO_CLIENT_SECRET=

# Gemini API Keys
API_KEY=
GEMINI_API_KEY=

# OpenWeatherMap Clima API Key (Weather API)
WEATHER_API_KEY=

# Azure Cognitive Services Speech (Voz de Soporte IA)
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=brazilsouth

# Supabase Keys (Base de datos de Producción)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
